@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: 70px;
  margin-right: 70px;
  box-sizing: border-box;
  padding: 0;
}

* {
  user-select: none;
}

p, h1, h2, h3, h4, h5, h6, span, a, label {
  user-select: text;
}